.caja1 {
    background-color: #ff477e;
    height: 60px;
}
.caja2 {
    background-color: #ff5c8a;
    height: 60px;
}
.caja3 {
    background-color: #ff7096;
    height: 60px;
}
.caja4 {
    background-color: #ff85a1;
    height: 60px;
}
.caja5 {
    background-color: #ff99ac;
    height: 60px;
}
.caja6 {
    background-color: #fbb1bd;
    height: 60px;
}
.caja7 {
    background-color: #f9bec7;
    height: 60px;
}
.caja8 {
    background-color: #f7cad0;
    height: 60px;
}
.caja9 {
    background-color: #3a0ca3;
    height: 600px;
}
.caja10 {
    background-color: #3dccc7;
    height: 150px;
}
.caja11 {
    background-color: #68d8d6;
    height: 150px;
}
.caja12 {
    background-color: #97a97c;
    height: 150px;
}
.caja13 {
    background-color: #b5c99a;
    height: 150px;
}
.caja14 {
    background-color: #cfe1b9;
    height: 150px;
}
.caja15 {
    background-color: #007fff;
    height: 80px;
}
.caja16 {
    background-color: #3299ff;
    height: 80px;
}
.caja17 {
    background-color: #66b2ff;
    height: 80px;
}
.caja18{
    background-color: #99ccff;
    height: 80px;
}
.caja19{
    background-color: #916dd5;
    height: 80px;
}
.caja20{
    background-color: #ac8bee;
    height: 80px;
}
.caja21{
    background-color: #c7adff;
    height: 80px;
}
.caja22 {
    background-color: #dac7ff;
    height: 80px;
}
.caja23 {
    background-color: #9c191b;
    height: 80px;
}
.caja24 {
    background-color: #ac1c1e;
    height: 80px;
}
.caja25 {
    background-color: #d02224;
    height: 80px;
}
.caja26 {
    background-color: #dd2c2f;
    height: 80px;
}
.caja27 {
    background-color: #e35053;
    height: 80px;
}
.caja28 {
    background-color: #e66063;
    height: 80px;
}
.caja29 {
    background-color: #ec8385;
    height: 80px;
}
.caja30 {
    background-color: #f1a7a9;
    height: 80px;
}
.caja31 {
    background-color: #f6cacc;
    height: 80px;
}
.caja32 {
    background-color: #fde1de;
    height: 80px;
}
.caja33 {
    background-color: #f5bc00;
    height: 80px;
}